{
  "env": {
      "browser": true,
      "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2023,
    "sourceType": "module",
    "modules": true
  },
  "extends": [
      "plugin:react/recommended",
      "airbnb"
  ],
  "plugins": [
      "react",
      "react-hooks"
  ]
}
