.container {
  border: 1px solid black;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: .825rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.value {
  font-size: 1rem;
}